/*----------skills background start--------*/

ul {
    background-color: orange;
    width: 100%;
    height: 100vh;
}

.skill {
    background-size: cover;
    width: 20%;
    height: 100vh;
}

ul #build-skill {
    background-image: url('/assets/imgs/first-page/minecraft.webp');
    background-position: center center;
}

ul #plant-skill {
    background-image: url('/assets/imgs/first-page/stardew-valley.webp');
}

ul #dev-skill {
    background-image: url('/assets/imgs/first-page/watch-dogs.webp');
}

ul #defense-skill {
    background-image: url('/assets/imgs/first-page/cod-black-ops.webp');
}

ul #survive-skill {
    background-image: url('/assets/imgs/first-page/dayz.webp');
}










/*--------------skills background end----------*/