/*----------skills background start--------*/

ul {
    background-color: orange;
    width: 100%;
    height: 100vh;
}

.skill {
    background-position: center center;
    background-size: cover;
    width: 20%;
    height: 100vh;
}

ul #build-skill {
    background-image: url('/assets/imgs/first-page/minecraft.webp');
}

ul #plant-skill {
    background-image: url('/assets/imgs/first-page/stardew-valley.webp');
}













/*--------------skills background end----------*/